In [19]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
df1=pd.read_csv("test_scores.txt")

In [20]:
df1

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [99]:
def descent_gradient(x,y):
    learning_rate=0.001
    m=b=0
    n=len(x)
    iteration=1
    for i in range(iteration):
        y_prediction=(m*x+b)
        cost_function=1/n*(y-y_prediction)**2
        md=2/n*sum(x*(y-y_prediction))
        mb=-2/n*sum(y-y_prediction)
        m=m-learning_rate*md
        b=b-learning_rate*mb
        print("m {},b {},cost{},iteration{} ".format(m,b,cost_function,i))
#x=np.array([1,2,3,4,5])
#y=np.array([5,7,9,11,13])
#descent_gradient(x,y)

In [100]:
x=df1.math
y=df1.cs
a=np.array(x)
b=np.array(y)

In [101]:
a

array([92, 56, 88, 70, 80, 49, 65, 35, 66, 67], dtype=int64)

In [102]:
b

array([98, 68, 81, 80, 83, 52, 66, 30, 68, 73], dtype=int64)

In [103]:
descent_gradient(a,b)

m -9.891800000000002,b 0.1398,cost[ 960.4  462.4  656.1  640.   688.9  270.4  435.6   90.   462.4  532.9],iteration0